  <br>
  <div class="container contenedor-animes">
  <div class="row">
    <p>La cantidad total de episodios es 2326 y el rating promedio es 8.03</p>
    <div *ngIf="selected">
      <app-anime-detail [animeDetail]="selectedBAnime"></app-anime-detail>
      <hr>
    </div>
    <div class="col-4" *ngFor="let anime of animes">
      <div class="card p-2" style="width: 15rem; height: 33rem">
        <h5>{{anime.name}}</h5>
        <img
          class="card-img-top"
          src={{anime.img}}
          alt="anime image"
          width=50px
        />
        <div class="card-body">
        <p>⭐{{anime.Rating}} <b>Categories: </b>{{anime.categorie}}</p>
        <a href="#" (click)="onSelected(anime)">More information</a>
        <hr>
      </div>
   </div>

  </div>
</div>
